{% extends 'base.twig' %}

{% block content %}
    <div class="container mt-5">
        <div style="max-width: 720px; margin: auto">
            <form method="post" action="" class="p-3">
                <div class="mb-3">
                    <label for="title" class="form-label">Votre titre</label>
                    <input type="text" class="form-control bg-black-light border-none" id="title" name="title" value="{{ article.title }}" required>
                </div>
                <div class="mb-3">
                    <label for="head" class="form-label">Votre chapô</label>
                    <input type="text" class="form-control bg-black-light border-none" id="head" name="head" value="{{ article.head }}" required>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Votre contenu</label>
                    <textarea type="text" class="form-control bg-black-light border-none" id="content"
                              name="content" style="min-height: 200px" required>{{ article.content }}</textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Charger</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}