{% extends 'base.twig' %}
{% block content %}
    <div class="container mt-5">
        <div style="max-width: 720px; margin: auto">
            <form method="post" action="/" class="p-3">
                <div class="mb-3">
                    <label for="email" class="form-label">Votre email</label>
                    <input type="email" class="form-control bg-black-light border-none" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control bg-black-light border-none" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
